h1 {
    margin: 0px;
    padding-top: 10px;
}

header {
    padding-left: 3%;
    top: 0;
    background-color: #242526;
    position: sticky;
    width: 100%;
}


body {
    background-color: #181818;
    color: #FFF;
}

nav {
    background-color: #242526;
    padding-left: 3%;
}

.right_bar {
    min-width: 150px;
    max-width: 300px;
    min-height: 95px;
    max-height: 600px;
    z-index: -1;
    padding: 10px 20px;
    background-color: #3e3e3e;
    color: #FFF;
}

main {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.valign_middle {
    vertical-align: middle;
}

.min_height{
    min-height: 23px;
}

.display-top{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.margin5{
    margin: 5px;
}

.margin2{
    margin: 2px;
}

.margin1{
    margin: 1px;
}

form {
    max-width: 405px;
}

button {
    background-color: #242526!important;
    border-radius: 5px;    
}

input[type=file]::file-selector-button{
    background-color: #242526;
    color: #FFF;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    margin-bottom: 5px;
}

input[type=file]::file-selector-button:hover{
    background-color: #ccc;
    color: #000;
}

input[type=submit]{
    background-color: #242526;
    color: #FFF;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    margin-bottom: 5px;
}

input[type=submit]:hover{
    background-color: #ccc;
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #121212;
}

.w3-sofia {
    font-family: Sofia, cursive;
    color: #FFF;
}

.error {
    color: #FF0000;
}

.white_text
{
    color:white;
    padding:4px;
}

.black_text{
    color:black;
    padding:4px;
}

.bg_tiffany_blue
{
    background-color:#17BEBB;
}

.bg_cinnabar
{
    background-color:#EF3E36;
}

.bg_lotion
{
    background-color:#FCFCFC;
}